<div class="container px-3 pb-5">
    <div class="mt-5">
        <h1><%- name_table1 %></h1>
        <table class="table table-bordered mx-auto text-center">
            <thead class="thead-dark">
                <% key_student.forEach(data => { %>
                    <th><%= data %></th>
                <% }); %>
            </thead>
            <tbody>
                <% data_student.forEach(data => { %>
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.student_name %></td>
                        <td><%= data.enroll %></td>  
                    </tr>
                <% }); %>
            </tbody>
            <thead class="thead-dark">
                <th colspan="2"><%= key_sum %></th>
                <% data_sum.forEach(data => { %>
                    <th><%= data.total_enrolls %></th> 
                <% }); %>
            </thead>
        </table>
    </div>
    <div class="mt-5">
        <h1><%- name_table2 %></h1>
        <table class="table table-bordered mx-auto text-center">
            <thead class="thead-dark">
                <% key_student.forEach(data => { %>
                    <th><%= data %></th>
                <% }); %>
            </thead>
            <tbody>
                <% data_student.forEach(data => { %>
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.student_name %></td>
                        <td><%= data.enroll %></td>  
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
