<div class="container px-3 pt-5">
    <h1><%- header %></h1>
    <table class="table table-bordered mx-auto">
        <thead class="thead-dark">
            <% key.forEach(data => { %>
                <th><%= data %></th>
            <% }); %>
        </thead>
        <tbody>
            <% data.forEach(data => { %>
                <tr>
                    <td><%= data.id %></td>
                    <td><%= data.firstname %></td>
                    <td><%= data.lastname %></td>
                    <td><%= data.company %></td>
                    <td><%= data.salary %></td>
                </tr>
            <% }); %>
    </tbody>
    </table>
</div>
