.show-img {
    margin: auto;
    margin-top: 2%;
    text-align: center;
    width: 100%;
    height: auto;
}

.show-img img {
    border: 1px solid #000;
}

.slide-img {
    padding: 80px;
    text-align: center;
}

.slide-img img {
    width: 240px;
    height: auto;
    margin: 10px;
    border: 1px solid #000;
}