<div class="container px-3 pb-5">
    <div class="mt-5">
        <h1><%- name_instructor %></h1>
        <table class="table table-bordered mx-auto">
            <thead class="thead-dark">
                <th><%= key_instructor %></th>
            </thead>
            <tbody>
                <% data_instructor.forEach(data => { %>
                    <tr>
                        <td><%= data.instructor_name %></td>  
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="mt-5">
        <h1><%- name_course %></h1>
        <table class="table table-bordered mx-auto">
            <thead class="thead-dark">
                <th><%= key_course %></th>
            </thead>
            <tbody>
                <% data_course.forEach(data => { %>
                    <tr>
                        <td><%= data.course_name %></td>  
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
