p {
    text-indent: 5%;
}

.img-box {
    margin: auto;
    display: block;
    text-align: center !important;
}
.img-box img {
    width: 200px;
    height: auto;
}
.img-box:hover img {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
}

.text-box {
    margin-left: 20%;
}

.none-dot {
    list-style-type: none !important;
    line-height: 32px;
}

.portf-img img {
    width: 100%;
    max-width: 240px;
    height: auto;
}

.center {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}

.table-center {
    margin: auto;
    padding: 5%;
}

.button-center {
    text-align: center;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    .portf-text {
        margin-left: 20%;
    }

    .center {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }
 }

@media (max-width: 480px) {
   .small-text {
       font-size: 16px !important;
   }
   .portf-text {
        margin-left: 15%;
    }
    .center {
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 5%;
    }
}

@media (max-width: 360px) {

    .portf-text {
         margin-left: 5%;
     }
 }