<div class="container px-3 pb-5">
    <div class="mt-5">
        <h1><%- nameTable %></h1>
        <table class="table table-bordered mx-auto">
            <thead class="thead-dark">
                <% key.forEach(data => { %>
                    <th><%= data %></th>
                <% }); %>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                    <tr>
                        <td><%= item.id %></td>  
                        <td><%= item.name %></td> 
                        <td><%= item.detail %></td>
                        <td><%= item.price %></td>
                        <td><%= item.teach_by %></td>   
                        <td><%= item.created_at %></td> 
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
