<div class="container px-3 pb-5">
    <div class="mt-5">
        <h1><%- user %></h1>
        <table class="table table-bordered mx-auto">
            <thead class="thead-dark">
                <% key.forEach(data => { %>
                    <th><%= data %></th>
                <% }); %>
            </thead>
            <tbody>
                <% data.forEach(data => { %>
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.firstname %></td>
                        <td><%= data.lastname %></td>
                        <td><%= data.salary %></td>
                        <td><%= data.role %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
