<div class="container">
    <h1 class="text-center mt-5 mb-5">Contact Me</h1>
    <div class="col-md-6 border mx-auto px-auto py-5">
        <ul class="none-dot">
            <li>
                <kbd class="bg-secondary">Phone :</kbd> +66805141659</li>
            <li>
                <kbd class="bg-secondary">Email :</kbd> omzalapao@gmail.com</li>
            <li>
                <kbd class="bg-secondary">LineID :</kbd> ompao</li>
            <li>
                <kbd class="bg-secondary">Website :</kbd> blackdotdev_</li>
            <li>
                <kbd class="bg-secondary">Address :</kbd> 296 Ratchada Rd. BKK</li>
        </ul>
    </div>
</div>