<div class="container">
    <h1 class="text-center mt-5 mb-5">About Me</h1>
    <div class="img-box">
        <img class="border mx-auto my-auto" src="images/blackdot.jpg" alt="avatar">
    </div>
    <div class="mt-5 mx-3 my-3 mb-5">
        <p>
            <strong>Lorem ipsum,</strong> dolor sit amet consectetur adipisicing elit. Blanditiis adipisci ullam eligendi voluptatem
            maiores aliquid optio consequuntur officia aliquam, itaque minus quo perferendis fugiat a aperiam quibusdam maxime
            ipsum temporibus!</p>

    </div>
    <hr />
</div>