<nav class="navbar navbar-light mb-5">
    <div class="input-group input-group-sm mb-3">
        <a class="navbar-brand small-text" href="#">
            <img src="images/box.svg" width="28" height="28" class="" alt=""> My Applications
        </a>
        <input type="text" class="col-sm-3 form-control ml-auto" placeholder="Search Product">
        <div class="input-group-append mr-2">
            <button class="btn btn-outline-primary" type="button">Go</button>
        </div>
        <button class="btn btn-sm btn-outline-success" type="button">Add new</button>
    </div>
</nav>
<!-- Body -->
<div class="container-fluid portf-img">
    <div class="row">
        <div class="col-md-6 pt-4 mb-5">
            <div class="col-md-6 float-left text-center">
                <img class="shadow-sm p-0 mb-5 bg-white rounded" src="images/ls.png" alt="">
            </div>
            <div class="col-md-6 float-left mt-3 portf-text">
                <h3>Work #1</h3>
                <ul>
                    <li>Little Stitch Website</li>
                    <li>Description
                        <ul>
                            <li>Design & Development</li>
                            <li>
                                <a href="https://littlestitch.shop" target="_blank">Link to Website</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 pt-4 mb-5">
            <div class="col-md-6 float-left text-center">
                <img class="shadow-sm p-0 mb-5 bg-white rounded" src="images/knit.png" alt="">
            </div>
            <div class="col-md-6 float-left mt-3 portf-text">
                <h3>Work #2</h3>
                <ul>
                    <li>Knit Aoki Website</li>
                    <li>Description
                        <ul>
                            <li>Design & Development</li>
                            <li>
                                <a href="http://knit-aoki.com" target="_blank">Link to Website</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 pt-4 mb-5">
            <div class="col-md-6 float-left text-center">
                <img class="shadow-sm p-0 mb-5 bg-white rounded" src="images/petite.png" alt="">
            </div>
            <div class="col-md-6 float-left mt-3 portf-text">
                <h3>Work #3</h3>
                <ul>
                    <li>Petite Laine Website</li>
                    <li>Description
                        <ul>
                            <li>Design & Development</li>
                            <li>
                                <a href="#">Comming Soon!</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 pt-4 mb-5">
            <div class="col-md-6 float-left text-center">
                <img class="shadow-sm p-0 mb-5 bg-white rounded" src="images/black-cat.jpg" alt="">
            </div>
            <div class="col-md-6 float-left mt-3 portf-text">
                <h3>Work #4</h3>
                <ul>
                    <li>Black Cat</li>
                    <li>Description
                        <ul>
                            <li>-</li>
                            <li>
                                <a href="#">BDD</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 pt-4 mb-5">
            <div class="col-md-6 float-left text-center">
                <img class="shadow-sm p-0 mb-5 bg-white rounded" src="images/black-dog.jpg" alt="">
            </div>
            <div class="col-md-6 float-left mt-3 portf-text">
                <h3>Work #5</h3>
                <ul>
                    <li>Black Dog</li>
                    <li>Description
                        <ul>
                            <li>-</li>
                            <li>
                                <a href="#">BDD</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 pt-4 mb-5">
            <div class="col-md-6 float-left text-center">
                <img class="shadow-sm p-0 mb-5 bg-white rounded" src="images/blackdot.jpg" alt="">
            </div>
            <div class="col-md-6 float-left mt-3 portf-text">
                <h3>Work #6</h3>
                <ul>
                    <li>Blacldotdev_</li>
                    <li>Description
                        <ul>
                            <li>-</li>
                            <li>
                                <a href="#">BDD</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>