<div class="container">
    <h1 class="text-center mt-5 mb-5">Skills</h1>
    <div class="col-md-6 border mx-auto px-auto py-5">
        <ul class="">
            <li>
                <kbd>HTML</kbd>
            </li>
            <li>
                <kbd>CSS</kbd>
            </li>
            <li>
                <kbd>JavaScript</kbd>
            </li>
            <li>
                <kbd>PHP</kbd>
            </li>
            <li>
                <kbd>MySql</kbd>
            </li>
        </ul>
    </div>
</div>