<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facebook Login</title>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '2106802706014399',
            cookie     : true,
            xfbml      : true,
            version    : 'v3.0'
            });
            
            FB.AppEvents.logPageView();
            myCallbackFunction();
            FB.Event.subscribe('auth.login', myCallbackFunction)
                   
        };

        function myCallbackFunction() { 
            FB.getLoginStatus(function(response) {
                console.log(response);
                if(response.status == 'connected')
                    console.log('login success!')
                else
                    console.log('Have not logged in yet!')
                FB.api("/me",function(res){
                    console.log(res)
                })
            });    
        }

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
</head>
<body>
    <%- body %>

</body>
</html>