<div class="container px-3 pb-5">
    <div class="mt-5">
        <h1><%- employee %></h1>
        <table class="table table-bordered mx-auto">
            <thead class="thead-dark">
                <% eKey.forEach(data => { %>
                    <th><%= data %></th>
                <% }); %>
            </thead>
            <tbody>
                <% eData.forEach(data => { %>
                    <tr>
                        <td><%= data.firstname %></td>
                        <td><%= data.lastname %></td>
                        <td><%= data.age %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="mt-5">
    <h1><%- book %></h1>
        <table class="table table-bordered mx-auto">
            <thead class="thead-dark">
                <% bKey.forEach(data => { %>
                    <th><%= data %></th>
                <% }); %>
            </thead>
            <tbody>
                <% bData.forEach(data => { %>
                    <tr>
                        <td><%= data.isbn %></td>
                        <td><%= data.title %></td>
                        <td><%= data.price %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>