/* ========================== Navbar ================================= */
  /* .navbar {
    border-bottom: 1px solid #ddd !important;
  } */

  .nav-link {
    margin: 0 0.5rem 0 0.7rem !important;
  }
  .none {
    margin: 0 0 0 -10px !important;
  }

  .nav-link > a {
    letter-spacing: 2px !important;
    font-size: 0.7em !important;
    text-transform: uppercase !important;
    color: #000;
  }

  .nav-link > a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid rgb(122, 122, 122);
    padding-bottom: 25px;
  }
  .none-hover > a:hover {
    text-decoration: none;
    border-bottom: 0px !important;
  }
  .navbar-brand img {
    margin: -25px 0 -18px 15px !important;
  }

  .btn-quote {
    background: rgb(236,162,224);
    background: linear-gradient(-60deg, rgba(236,162,224,1) 0%, rgba(255,254,195,1) 100%);  
    width: 100px;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 0.9rem !important;
    font-weight: 200 !important;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
  }

  .btn-quote:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 2px solid #fff;  
  }

  .btn-quote > a {
    color: #fff !important;  
  }

  .btn-quote > a:hover {
    color: #fff !important; 
    text-decoration: none;
    border-bottom: 0px solid orange; 
  }
  /* ============================ btn-toggle ================================ */
  .navbar-toggler {
    border-color: rgba(0,0,0,0) !important;
  }
  .navbar-toggler-icon {
    background-image: url('../../assets/img/Menu.svg') !important;
    width: 68px;
  }

@media screen and (max-width: 767px) {
/* ========================== Navbar ================================= */
  .sm-padding {
    padding-top: 10%;
  }
  .none {
    margin: -20px 0 0 0 !important;
  }
  .navbar-nav {
    align-items: center !important;
  }
  .nav-link {
    padding: 1rem 1rem !important;
  }
  .nav-link > a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(122, 122, 122);
  }
  .navbar-brand img {
    margin: -25px 0 -18px -15px !important;
  }

  .btn-quote {
    background-color: aqua;  
    width: 120px;
    border-radius: 50px;
    border: 2px solid #fff;
    text-align: center;
    padding: 0.6rem 0.6rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
  }
  .btn-quote:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);  
  }
  .btn-quote > a {
    color: #fff !important;  
  }
  .btn-quote > a:hover {
    color: #fff !important; 
    text-decoration: none;
    border-bottom: 0px; 
  }

}