doctype html
html(lang="en")
  head
    title About
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='../../css/style.css')
  body
    header.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='index.html')
        strong Code
        | Camp
        span(style='color: #73e48d;') #28
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggle', aria-expanded='false', aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarToggler.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='index.html') About
          li.nav-item
            a.nav-link(href='skill.html') Skill
          li.nav-item
            a.nav-link(href='contact.html') Contact
          li.nav-item
            a.nav-link(href='portfolio.html') Portfolio

    .container
      h1.text-center.mt-5.mb-5 About Me
      .img-box
        img.border.mx-auto.my-auto(src='../../assets/blackdot.jpg', alt='avatar')
      .mt-5.mx-3.my-3.mb-5
        p
          strong Lorem ipsum,
          | dolor sit amet consectetur adipisicing elit. Blanditiis adipisci ullam eligendi voluptatem maiores aliquid optio consequuntur officia aliquam, itaque minus quo perferendis fugiat a aperiam quibusdam maxime ipsum temporibus!
        hr
    
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
