doctype html
html(lang="en")
  head
    title Skill
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='../../css/style.css')
  body
    header.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='index.html')
        strong Code
        | Camp
        span(style='color: #73e48d;') #28
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarToggler.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='index.html') About
          li.nav-item.active
            a.nav-link(href='skill.html') Skill
          li.nav-item
            a.nav-link(href='contact.html') Contact
          li.nav-item
            a.nav-link(href='portfolio.html') Portfolio
    .cotainer
      h1.text-center.mt-5.mb-5 Skills
      .col-md-6.border.mx-auto.px-auto.py-5
        ul
          li
            kbd HTML
          li
            kbd CSS
          li
            kbd JavaScript
          li
            kbd PHP
          li
            kbd MySql
          li
            kbd.bg-primary React
          li
            kbd.bg-danger Angular

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
